*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right, rgb(90, 90, 226), pink);
}

.card{
    background-color: rgb(226, 240, 245);
    width: 82rem;
    height: 750px;
    margin-top: 4rem ;
    margin-bottom: 0.3rem;
    padding: 1.5rem;
    left: 9rem;
    position: relative;
}

.header{
   display: flex;
   justify-content: space-between;
   margin: auto;
   padding: 10px 30px;
}

.header .logo{
    font-size: 1.3rem;
    letter-spacing: 1px;
    cursor: pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 1rem;
    font-size: 0.7rem;
    text-transform: uppercase;
}