*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right, rgb(90, 90, 226), pink);
}

.card{
    background-color: rgb(226, 240, 245);
    width: 75rem;
    height: 640px;
    margin-top: 5rem ;
    margin-bottom: 3rem;
    padding: 2rem 1rem;
    left: 14rem;
    position: relative;
}

.header{
   display: flex;
   justify-content: space-between;
   margin: auto;
   padding: 8px 30px;
}

.header .logo{
    font-size: 1.3rem;
    letter-spacing: 1px;
    cursor: pointer;
    padding-bottom: 1.2rem;
    padding-left: 1.3rem;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 1.3rem;
    font-size: 0.8rem;
    text-transform: uppercase;
}

.navbar ul li a{
    color: black;
    font-weight: bold;
    transition: all 0.4s ease;
    text-decoration: none;
}

.button{
    display: inline-block;
    background:black;
    font-size: 10px;
    font-weight: bold;
    padding: 8px 30px;
    margin-top: 20px;
    border-radius: 30px;
    transition: all 0.3s ease;
}

.intro{
    display: flex;
    padding: 45px 150px;
}

.intro .intro-text{
    margin: 30px 40px;
}

.intro .intro-text h2{
    font-size: 1.5rem;
    padding: 5px 2px;
    font-weight: bold;
}

.skill{
    display: flex;
    padding: 20px 150px;
}

.skill .myslf{
    margin-right: 35px;
    margin-bottom: 3rem;
}

.skill .myslf h2{
    font-size: 1.5rem;
    padding: 6px 1px;
    font-weight: bold;
}

.skill .skill-set{
    
    padding: 15px;
}

.skill .skill-set h3{
    font-size: 1.3rem;
    padding: 6px 6px;
    text-align: center;
    font-weight: bold;
}

.skill-set ul li{
    list-style: none;
    display: inline-block;
    margin-top: 5px;
    margin-left: 1rem;
    font-size: 0.8rem;
    text-transform: uppercase;
    border: 1px solid black;
    
}